.animation{
    width:50px;
    height:30px;
    border-radius: 30px;
    text-align: center;
    animation-fill-mode: forwards;
    position:relative;
    margin-left:20px;
    margin-top: 20px;
    text-align: center;
    animation-duration: 5s;
    animation-name: example;
}
@keyframes example{
    0%{background-color: brown; left:0px; top:0px; transform: rotate(0deg); }
    25%{background-color: blue; left:0px; top:0px; transform: rotate(20deg); }
    50%{background-color: blue; left:300px; top:0px; transform: rotate(0deg); }
    75%{background-color: blue; right: 300px; top:0px; transform: rotate(270deg);transform: rotate(-100deg) }
    100%{background-color: brown; left:0px; top:0px; transform: rotate(-360deg); }
}

